<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= query.dataValues.deck_name %>></title>

    <link rel="stylesheet" href ="/css/bootstrap.min.css">

    <style>
        .tooltip-inner{
            text-align: left;
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <div class="bg-dark pb-4 text-white">
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/imports.ejs') %>

        <% if (messages.error) { %>
            <div class="text-danger">
                <%= messages.error %>
            </div>
        <% } %>

        <% if (messages.success) { %>
            <div class="text-success">
                <%= messages.success %>
            </div>
        <% } %>


        <%
        getCardTooltip = function(card) {
            var outstring = ""

            // If card is an anomaly, shorter card ID, else longer card ID
            // This ensures the correct set is identified
            var card_set_number = parseInt(card.card_id) < 0 ? card.card_id.toString().slice(0, -2).replace('-', '') : card.card_id.toString().slice(0, -3)
            
            // Retrieve the card name and score
            try {
                var card_set = card_info['card_setnum_to_abbrev'][card_set_number]
                var card_scoring_name = card_info['card_id_to_name'][card.card_id]
                var card_score = card_info['scoring_dict'][card_set][card_scoring_name]['score']
            }
            catch {
                console.log("Error displaying card " + card.card_id + ":" + card.card_name)
            }



            // Map the multiples array to the actual score of the card when of that value
            var multiples = card.Multiple.dataValues.multiples.map(multiples => multiples + parseInt(card_score))


            // Form the output
            outstring += card.card_name + "\n"
            outstring += "Score: " + card_score + "\n"
            outstring += "Multiples: " + multiples

            return outstring;
        }
        %>



        <div class="bg-dark px-2 text-white">
            <% // Handle ordering the pods %>
            <% query.dataValues.Pods.sort(function(a, b){return a.house_id - b.house_id}) %>
            <h1><img src=<%= "/rsrc/set_" + query.dataValues.set_id + ".png" %> width="4%" height="4%" />  <%= query.dataValues.deck_name %></h1>

            <table data-bs-theme="dark">
                <% // Check if user is logged in %>
                <% if (isLoggedIn) { %>
                    <% // Mine/Not Mine deck buttons, display if user is patreon or admin %>
                    <% if (user.patreon_rank > -1 || user.is_admin) { %>
                        <tr>
                            <td>
                                <% if (isInCollection) { %>
                                    <form action=<%= "/deck/" + query.dataValues.deck_code + "/notmine" %> method="POST">
                                        <button class="py-1 mx-3 btn btn-outline-light" type="submit">Not Mine</button>
                                    </form>
                                <% } else { %>
                                    <form action=<%= "/deck/" + query.dataValues.deck_code + "/mine" %> method="POST">
                                        <button class="py-1 mx-3 btn btn-outline-light" type="submit">Mine</button>
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <% // If deck has no alpha displays requests and button %>
                        <% if (query.dataValues.alpha_score == null) { %>
                            <% // Request alpha score button %>
                            <% if (isInCollection) { %>
                                <% if (user.alpha_requests > 0) { %>
                                    <td>
                                        <form class="pt-3 pb-2" action=<%= "/deck/" + query.dataValues.deck_code + "/alpha" %> method="POST">
                                            <button class="py-1 mx-3 btn btn-outline-warning" type="submit">Request Alpha Score</button>
                                        </form>
                                    </td>
                                <% } %>
                            <% } %>
                        <!--If alpha is pending, say is pending-->
                        <% } else if (query.dataValues.alpha_score == "P" || query.dataValues.alpha_score[0] == "R") { %>
                            <td class="py-2">Alpha score is pending...</td>
                        <% } %>
                    </tr>
                <% } %>

                <% if (query.dataValues.alpha_score != null && query.dataValues.alpha_score != "P" && query.dataValues.alpha_score[0] != "R") { %>
                    <% // Rescore alpha button %>
                    <% if (isLoggedIn && isInCollection) { %>
                        <% if (user.alpha_requests > 0) { %>
                            <tr>
                                <td>
                                    <form class="pt-3 pb-2" action=<%= "/deck/" + query.dataValues.deck_code + "/alpharescore" %> method="POST">
                                        <button class="py-1 mx-3 btn btn-outline-warning" type="submit">Request Alpha Re-Score</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>

                    <td class="py-2 ">Alpha Score: <%= query.dataValues.alpha_score %></td>
                <% } %>

                <% if (query.Token) { %>
                    <% // if the deck has a token, display token %>
                    <td class="py-2">Token:  <%= query.Token.Card.card_name %></td>
                <% } %>
            </table>

            <table class="table table-striped" data-bs-theme="dark">
                <tr>
                    <th></th>
                    <th><img src=<%= "/rsrc/house_" + query.dataValues.house1 + ".png" %> width="40" height="40" /></th>
                    <th><img src=<%= "/rsrc/house_" + query.dataValues.house2 + ".png" %> width="40" height="40" /></th>
                    <th><img src=<%= "/rsrc/house_" + query.dataValues.house3 + ".png" %> width="40" height="40" /></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th><%= query.dataValues.house_1.house_name %></th>
                    <th><%= query.dataValues.house_2.house_name %></th>
                    <th><%= query.dataValues.house_3.house_name %></th>
                    <th></th>
                    <th>Score</th>
                </tr>

                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_1) %>"><%= query.dataValues.Pods[1].card_1.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_1) %>"><%= query.dataValues.Pods[2].card_1.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_1) %>"><%= query.dataValues.Pods[3].card_1.card_name %></td>
                    <td></td>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_score + query.dataValues.Pods[1].dataValues.pod_score + query.dataValues.Pods[2].dataValues.pod_score + query.dataValues.Pods[3].dataValues.pod_score %></th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_2) %>"><%= query.dataValues.Pods[1].card_2.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_2) %>"><%= query.dataValues.Pods[2].card_2.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_2) %>"><%= query.dataValues.Pods[3].card_2.card_name %></td>
                    <td></td>
                    <th>Creatures</th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_3) %>"><%= query.dataValues.Pods[1].card_3.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_3) %>"><%= query.dataValues.Pods[2].card_3.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_3) %>"><%= query.dataValues.Pods[3].card_3.card_name %></td>
                    <td></td>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_creatures + query.dataValues.Pods[2].dataValues.pod_creatures + query.dataValues.Pods[3].dataValues.pod_creatures %></th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_4) %>"><%= query.dataValues.Pods[1].card_4.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_4) %>"><%= query.dataValues.Pods[2].card_4.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_4) %>"><%= query.dataValues.Pods[3].card_4.card_name %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_5) %>"><%= query.dataValues.Pods[1].card_5.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_5) %>"><%= query.dataValues.Pods[2].card_5.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_5) %>"><%= query.dataValues.Pods[3].card_5.card_name %></td>
                    <td></td>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_6) %>"><%= query.dataValues.Pods[1].card_6.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_6) %>"><%= query.dataValues.Pods[2].card_6.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_6) %>"><%= query.dataValues.Pods[3].card_6.card_name %></td>
                    <td></td>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_actions + query.dataValues.Pods[2].dataValues.pod_actions + query.dataValues.Pods[3].dataValues.pod_actions %></th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_7) %>"><%= query.dataValues.Pods[1].card_7.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_7) %>"><%= query.dataValues.Pods[2].card_7.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_7) %>"><%= query.dataValues.Pods[3].card_7.card_name %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_8) %>"><%= query.dataValues.Pods[1].card_8.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_8) %>"><%= query.dataValues.Pods[2].card_8.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_8) %>"><%= query.dataValues.Pods[3].card_8.card_name %></td>
                    <td></td>
                    <th>Artifacts</th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_9) %>"><%= query.dataValues.Pods[1].card_9.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_9) %>"><%= query.dataValues.Pods[2].card_9.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_9) %>"><%= query.dataValues.Pods[3].card_9.card_name %></td>
                    <td></td>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_artifacts + query.dataValues.Pods[2].dataValues.pod_artifacts + query.dataValues.Pods[3].dataValues.pod_artifacts %></th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_10) %>"><%= query.dataValues.Pods[1].card_10.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_10) %>"><%= query.dataValues.Pods[2].card_10.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_10) %>"><%= query.dataValues.Pods[3].card_10.card_name %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_11) %>"><%= query.dataValues.Pods[1].card_11.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_11) %>"><%= query.dataValues.Pods[2].card_11.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_11) %>"><%= query.dataValues.Pods[3].card_11.card_name %></td>
                    <td></td>
                    <th>Upgrades</th>
                </tr>
                <tr>
                    <td></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[1].card_12) %>"><%= query.dataValues.Pods[1].card_12.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[2].card_12) %>"><%= query.dataValues.Pods[2].card_12.card_name %></td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay='{"show":250, "hide":100}' data-bs-title="<%= getCardTooltip(query.dataValues.Pods[3].card_12) %>"><%= query.dataValues.Pods[3].card_12.card_name %></td>
                    <td></td>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_upgrades + query.dataValues.Pods[2].dataValues.pod_upgrades + query.dataValues.Pods[3].dataValues.pod_upgrades %></th>
                </tr>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Values</th>
                    <th><%= query.dataValues.house_1.house_name %> score</th>
                    <th><%= query.dataValues.house_2.house_name %> score</th>
                    <th><%= query.dataValues.house_3.house_name %> score</th>
                    <th>Meta Score</th>
                    <th>Totals</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Score</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_score %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_score %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_score %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_score || '' %></th>
                    <td></td>
                    <th style="text-align:left">Score</th>
                </tr>
                <tr>
                    <th>E</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_e %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_e %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_e %></th>
                    <th><%= parseInt(query.dataValues.Pods[0].dataValues.pod_e) || '' %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_e) + parseInt(query.dataValues.Pods[2].dataValues.pod_e) + parseInt(query.dataValues.Pods[3].dataValues.pod_e) + parseInt(query.dataValues.Pods[0].dataValues.pod_e) %></th>
                    <th style="text-align:left">E</th>
                </tr>
                <tr>
                    <th>A</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_a %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_a %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_a %></th>
                    <th><%= parseInt(query.dataValues.Pods[0].dataValues.pod_a) || '' %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_a) + parseInt(query.dataValues.Pods[2].dataValues.pod_a) + parseInt(query.dataValues.Pods[3].dataValues.pod_a) + parseInt(query.dataValues.Pods[0].dataValues.pod_a) %></th>
                    <th style="text-align:left">A</th>
                </tr>
                <tr>
                    <th>C</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_c %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_c %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_c %></th>
                    <th><%= parseInt(query.dataValues.Pods[0].dataValues.pod_c) || '' %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_c) + parseInt(query.dataValues.Pods[2].dataValues.pod_c) + parseInt(query.dataValues.Pods[3].dataValues.pod_c) + parseInt(query.dataValues.Pods[0].dataValues.pod_c) %></th>
                    <th style="text-align:left">C</th>
                </tr>
                <tr>
                    <th>F</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_f %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_f %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_f %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_f %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_f || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_f || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_f || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_f || 0) %></th>
                    <th style="text-align:left">F</th>
                </tr>
                <tr>
                    <th>D</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_d %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_d %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_d %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_d %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_d || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_d || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_d || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_d || 0) %></th>
                    <th style="text-align:left">D</th>
                </tr>
                <tr>
                    <th>R</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_r %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_r %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_r %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_r %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_r || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_r || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_r || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_r || 0) %></th>
                    <th style="text-align:left">R</th>
                </tr>
                <tr>
                    <th>BoB</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_bob %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_bob %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_bob %></th>
                    <th><%= parseInt(query.dataValues.Pods[0].dataValues.pod_bob) || '' %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_bob) + parseInt(query.dataValues.Pods[2].dataValues.pod_bob) + parseInt(query.dataValues.Pods[3].dataValues.pod_bob) + parseInt(query.dataValues.Pods[0].dataValues.pod_bob) %></th>
                    <th style="text-align:left">BoB</th>
                </tr>
                <tr>
                    <th>Scaling A</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_scaling_a %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_scaling_a %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_scaling_a %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_scaling_a %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_scaling_a || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_scaling_a || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_scaling_a || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_scaling_a || 0) %></th>
                    <th style="text-align:left">Scaling A</th>
                </tr>
                <tr>
                    <th>Wipes</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_wipes %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_wipes %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_wipes %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_wipes %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_wipes || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_wipes || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_wipes || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_wipes || 0) %></th>
                    <th style="text-align:left">Wipes</td>
                </tr>
                <tr>
                    <th>Cheats</th>
                    <th><%= query.dataValues.Pods[1].dataValues.pod_cheats %></th>
                    <th><%= query.dataValues.Pods[2].dataValues.pod_cheats %></th>
                    <th><%= query.dataValues.Pods[3].dataValues.pod_cheats %></th>
                    <th><%= query.dataValues.Pods[0].dataValues.pod_cheats %></th>
                    <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_cheats || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_cheats || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_cheats || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_cheats || 0) %></th>
                    <th style="text-align:left">Cheats</td>
                </tr>
                <% if (query.Token) { %>
                    <% // Only show the tokens row if a deck has token creators %>
                    <tr>
                        <th>Tokens</th>
                        <th><%= query.dataValues.Pods[1].dataValues.pod_tokens %></th>
                        <th><%= query.dataValues.Pods[2].dataValues.pod_tokens %></th>
                        <th><%= query.dataValues.Pods[3].dataValues.pod_tokens %></th>
                        <th><%= query.dataValues.Pods[0].dataValues.pod_tokens %></th>
                        <th><%= parseInt(query.dataValues.Pods[1].dataValues.pod_tokens || 0) + parseInt(query.dataValues.Pods[2].dataValues.pod_tokens || 0) + parseInt(query.dataValues.Pods[3].dataValues.pod_tokens || 0) + parseInt(query.dataValues.Pods[0].dataValues.pod_tokens || 0) %></th>
                        <th style="text-align:left">Tokens</th>
                    </tr>
                <% } %>
            </table>
        
            <% // Parse attributes %>
            <% var attributes = JSON.parse(query.dataValues.attributes) %>

            <% if (attributes) { %>
                <h3>Meta Score Adjustments</h3>
                <% for (var key in attributes) { %>
                    <h5><%= key %> score: <%= attributes[key] %></h5>
                <% } %>
            <% } %>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>
</html>


