<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Draw Better Cards</title>

    <link rel="stylesheet" href ="/assets/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="bg-dark text-white px-4 pb-4">    
        <% if (messages.error) { %>
        <div class="text-danger">
                <%= messages.error %>
            </div>
        <% } %>
            
        <%- include('partials/imports.ejs') %>
            
        <h2>Top Decks This Month</h2>
        <table class="table table-striped" data-bs-theme="dark">
            <thead>
                <th>Score</th>
                <th>Alpha</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>
            <% if (queryTop) { %>
                <% for (var i = 0; i < queryTop.length; i++) { %>
                    <tr>
                        <td><%= queryTop[i].dataValues.adj_score %></td>
                        <td><% if (queryTop[i].dataValues.alpha_score ==='P' || queryTop[i].dataValues.alpha_score == null) { %>
                            -
                        <% } else { %>
                            <%= queryTop[i].dataValues.alpha_score %>
                        <% } %></td>
                        <td><a href=<%= "/deck/" + queryTop[i].dataValues.deck_code %>><%= queryTop[i].dataValues.deck_name %></a></td>
                        <td><img src=<%= "rsrc/set_" + queryTop[i].dataValues.set_id + ".png" %> width="32px" height="32px" /></td>
                        <td><img src=<%= "rsrc/house_" + queryTop[i].dataValues.house1 + ".png" %> width="48px" height="48px" />
                            <img src=<%= "rsrc/house_" + queryTop[i].dataValues.house2 + ".png" %> width="48px" height="48px" />
                            <img src=<%= "rsrc/house_" + queryTop[i].dataValues.house3 + ".png" %> width="48px" height="48px" /></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
        <h2>Most Recent</h2>
        <table class="table table-striped" data-bs-theme="dark">
            <thead>
                <th>Score</th>
                <th>Alpha</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>
            <% if (queryRecent) { %>
                <% for (var i = 0; i < queryRecent.length; i++) { %>
                    <tr>
                        <td><%= queryRecent[i].dataValues.adj_score %></td>
                        <td><% if (queryRecent[i].dataValues.alpha_score ==='P' || queryRecent[i].dataValues.alpha_score == null) { %>
                            -
                        <% } else { %>
                            <%= queryRecent[i].dataValues.alpha_score %>
                        <% } %></td>
                        <td><a href=<%= "/deck/" + queryRecent[i].dataValues.deck_code %>><%= queryRecent[i].dataValues.deck_name %></a></td>
                        <td><img src=<%= "rsrc/set_" + queryRecent[i].dataValues.set_id + ".png" %> width="32px" height="32px" /></td>
                        <td><img src=<%= "rsrc/house_" + queryRecent[i].dataValues.house1 + ".png" %> width="48px" height="48px" />
                            <img src=<%= "rsrc/house_" + queryRecent[i].dataValues.house2 + ".png" %> width="48px" height="48px" />
                            <img src=<%= "rsrc/house_" + queryRecent[i].dataValues.house3 + ".png" %> width="48px" height="48px" /></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </div>

    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>

